.title {
    font-size: 30;
    horizontal-align: center;
    margin: 20;
}

button {
    font-size: 18;
    margin-top: 20;
    horizontal-align: center;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
    margin: 0 20;
    text-align: center;
}
