.title {
    font-size: 30;
    horizontal-align: center;
}


StackLayout{
    padding: 20;
}

button {
    font-size: 15;
    margin-top: 7;
    horizontal-align: center;
    width: 100%;    
    background-color: #2980b9;
    color: #FFFFFF;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
    margin: 0 20;
    text-align: center;
}
